
/* 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

:root {
    /* CSS 변수 사용하기 */
    --main-bg-color : #f9f9f9;
    --primary-color : #99ca3c ;
    --second-color : #ffba00;
    --black-color : #111;
    --white-color : #fff;
    --gray-color : #9b9992;
}

body { font-family: 'Noto Sans KR', sans-serif; }

/* 전체영역 */
.wrap {
    width: 1200px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

.fleft { float: left; }
.fright { float: right; }


/* 탑 배너 */
.top_banner {
    display: block;
    height: 80px;
    background: url(../img/top_banner.jpg) no-repeat center center;
}

/* 헤더 */
header { position: relative; background-color: var(--main-bg-color); }

/* 헤더 - 유틸 */
header #top_util { 
    margin-bottom: 15px; 
    position: relative;
    font-size: 0.85rem;
    padding-top: 1em;
}

header #top_util .fleft > a { column-rule: #302e28; }

header #top_util .fleft > a:not(.last):after,
header #top_util .fright > a:not(.last)::after {
    content: '';
    display: inline-block;
    height: 0.75em;
    width: 1px;
    border-right: 1px solid #cecec5;
    margin: 0 1em;
}


/* 헤더 - 타이틀 영역 */
header #title { background-color: var(--white-color); }
header #title .mid {
    display: flex;
    justify-content: space-between;  /* 주축 사이공백 정렬 */
    align-items: center;  /* 교차축 가운데 정렬 */
}
header #title .mid .title-item { padding: 30px; }
header #title .mid .left { text-align: left; width: 30%; }
header #title .mid .center { text-align: center; width: 38%;  }
header #title .mid .right { text-align: right; width: 30%; }